/*CSS reset*/
* {
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

#logo img {
    width: 80px;
    border: 2px solid red;
    border-radius: 100px;
    margin: 5px;
    margin-left: 40px;
    margin-bottom: 0px;
}

#navbar {
    display: flex;
    position: relative    ;
    background-color: black;

}

#navbar::before {
    background-color: black;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;   
    z-index: -1;
    opacity: 0.2;
    background-repeat: no-repeat;
    background-size: cover;


}

#navbar ul {
    display: flex;
    align-items: center;
    padding-left: 20px;
}

#navbar ul li {
    font-size: 1.3rem;
    padding: 20px;
    list-style: none;
}

#navbar ul li a {
    font-family: 'Patrick Hand', cursive;
    font-size: 1.5rem;
    padding: 10px;
    list-style: none;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    color: whitesmoke;

}
#navbar ul li a:hover {

    color: black ;
    background-color: aliceblue;
    border-radius: 30px;

}


/*home*/

#home
{
    display: flex;
    flex-direction: column;
    align-items: left ;
    color: white;
    width: 838px;
    margin-top: 30px;

}

#home  h1{
    display: inline;
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Raleway', sans-serif;
    margin-top: 42px;
    width: 53rem;
}
#home  p{
    display: inline;
    text-align: center;
}


#home::before{
    background-image: url(../static/pexelbcg.jpg);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30rem;   
    z-index: -2;
    opacity: 1;
    background-repeat: no-repeat;
    background-size: cover;
}


#home input
{
    height: 3rem;
    margin: 1rem;
    margin-left: 4rem;
    width: 29rem;
    display: inline;
    font-size: 21px;
}


#home button
{
    width: 6rem;
    height: 3rem;
    cursor: pointer;
    font-size: 15px;
    
display: inline;

    color: white;
    background-color: orange;
    box-shadow: 1px 1px 6px 3px white;
    border: 3px solid #533c36;
}


#search{
    margin-top: 50px;
    margin-left: 5px;
}

#services{
    display: flex;
     flex-wrap: wrap;
    justify-content: space-around   ;
    padding-bottom: 2rem;
}

.box
{
    width: 16rem;
    margin: 20px 20px;
    margin-top: 40px;
}
.box p
{
    margin-top: 20px;
    width: 16rem;
    
    border: 2px solid gray;
}
.box img
    
{   
    
    margin-top: 1rem;
    width: 16rem;
    height: 16rem;
    border-radius: 30px;
    box-shadow: 15px 15px 20px grey;
    transition: all;
    transition-duration: 0.5s;
}
.box img:hover
{  
    width: 17rem;
    height: 17rem;
    
}

#home::after
{
    content: " Our services :";
    font-family: 'Raleway', sans-serif;
    font-size: 3rem;
    margin-top: 3rem;
    margin-left: 4rem;
}

#contact
{   
    border: 3px solid black;
    position: relative;
    height: 41rem;
    width: 100%;
   
}

#contact::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    background-image: url(../static/contact.jpg);
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.8;
}

.contactbox
{ 
   height: 30rem;
   width: 40rem;
   margin: auto;
   margin-top: 5rem;
   border: 4px solid white  ;
   background-image: url(../static/contact.jpg);
  
}
.contactbox form {
    color: rgb(17, 23, 23);
    display:flex;
    flex-direction: column;
    width: 30rem;
    margin: auto;
}
.contactbox form input{
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 30rem;
    padding: 5px;
    border-radius: 10px;
    
    margin: auto;
}
.contactbox form label{
    
    margin: 10px;
    /*display: block;*/
}

 textarea
{
    width: 30rem;
    height: 10rem;
    margin : 0.5rem 0rem;
}

button{
    padding: 0.5rem;
    border-radius: 10px;
    display: block;
    margin: auto;
}

form p{
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: aliceblue;
    padding-top: 9px;
    
}

#box{
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 5rem;
    height: 25rem;
    width: 43rem;
    margin: auto;
    margin-top: 5rem;
    background-image: url(../static/contact.jpg);
    display: flex;
    align-items: center;
    padding: 1rem;

    border-radius: 3rem;
    box-shadow: 8px 8px 5px #9f9f9f;
    text-shadow: 3px 3px 2px #9f9f9f;
     

}
/*utility classes*/

.hclass
{
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Raleway', sans-serif;
    padding: 0;
    color: white;
}

.center,.hbox
{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

@media (max-width :1140px) {
    /*nav bar*/

    #navbar {

        flex-direction: column;
    }

    #navbar ul li a {

        font-size: 1rem;


    }

    #navbar ul {

        padding-left: 9px;
    }

    #navbar ul li {

        padding: 0.6rem;
    }


    #home h1 {
        font-size: 2rem;
        width: 23rem;
        margin: auto;
    }


    /*home*/


    #home {

        width: 100vw;


    }

    #home input {

        margin: 1rem;
        width: 14rem;

    }

    #home::after {
        color: black;
        margin-top: 10rem;
    }

    #home button {
        width: 5rem;

    }

    /*services*/

    .box {
        margin-top: 0rem;
    }

    /*contact us*/

    .contactbox {
        display: block;
        width: auto;
        margin: 0rem;
        border: 4px solid black;

    }

    .contactbox form input {

        width: auto;

    }

    .contactbox form {
        color: black;
        display: flex;
        flex-direction: column;
        width: auto;
        margin: auto;
    }

    .contactbox form label {

        margin: 10px;
        display: block;
        width: auto;
    }

    .contactform textarea {

        width: 20rem;
        height: 5rem;
        margin: auto;
    }

    #contact::before {

        background-image: none;

    }

    #contact {
        height: auto;
        border: none;
    }


    .contactform textarea {
        width: auto;
        height: 5rem;
    }

    .contactbox form {
        width: auto;
        align-items: center;
    }

    button{
        padding: 0.5rem;
        border-radius: 10px;
        display: block;
        margin: auto;
    }
}